<?xml version="1.0" encoding="UTF-8"?>
<included>
    <property name="CUSTOM_LOG_LEVEL" value="INFO"/>
    <property name="CUSTOM_LOG_PATTERN" value="PATTERN-SIMPLE"/>
    <property name="CUSTOM_SYS_PATH" value="/home/data/logs/"/>
    <property name="CUSTOM_SYS_NAME" value="css-kafka"/>
    <property name="CUSTOM_BUG_PACKAGE" value="cn.hll.tools"/>
    <property name="CUSTOM_SQL_PACKAGE" value="com.demo.css.kafka"/>
</included>
