<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gm.common.dynamic.dao.mapper.TxMapper">

        <insert id="insert" >
            insert into tx (id, str) values(null,#{str})
        </insert>

</mapper>
